<div class="banner-government-site">
  <div class="banner-inner clearfix">
    <div class="d-flex government-site">
      <div class="government-site__accordion government-site__banner">
        <div aria-label="Official United States Government Website Disclaimer">

          <div class="government-site__header">
            <div>
              <img alt="U.S. flag" src="/themes/custom/radix_sub_theme/assets/images/US_Flag.png"/>
            </div>
            <div>
              <span> An official website of the United States government</span>
              <button aria-controls="collapseOne" aria-expanded="false" class="btn btn-link" data-target="#collapseOne"
                      data-toggle="collapse" id="radio">Here’s how you know <span class="toggle-indicator"> </span>
              </button>
            </div>
          </div>

          <div aria-label="official website" class="collapse" data-parent=".government-site__accordion" id="collapseOne">
            <div class="col-xs-12">
              <div aria-hidden="true" class="row government-site__content usa-grid government-site__accordion"
                   id="gov-banner">
                <div class="col-sm-6"><img alt="Dot gov" class="government-site__icon usa-media_block-img"
                                           src="/themes/custom/radix_sub_theme/assets/images/icon-dot-gov.svg"/>
                  <div class="government-site__text">
                    <p><strong>Official websites use .gov or .mil</strong>
                      <br/>
                      .gov and .mil websites belong to official government organizations in the United States.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6"><img alt="SSL" class="government-site__icon usa-media_block-img"
                                           src="/themes/custom/radix_sub_theme/assets/images/icon-https.svg"/>
                  <div class="government-site__text">
                    <p><strong>The site is secure.</strong>
                      <br/>
                      A lock or <strong>https://</strong> means you’ve safely connected. Share sensitive information
                      only on official, secure websites.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
