<div class="d-flex flex-column main-logo-header">
  <div class="d-inline-flex flex-row">
    <span href="/" title="Home" rel="home" class="main-logo-header__image">
      <a class="main-logo-header__link" href="/" rel="home" title="Home">
      <img src="/themes/custom/radix_sub_theme/assets/images/logo-large-alt4.png" alt="Organizational Excellence"></a>
    </span>

    {#Display only for desktop md display and larger#}
    <div class="d-none d-md-block">
      <h1 class="main-logo-header__text"><a class="main-logo-header__link" href="/" rel="home" title="Home">Organizational <span class="main-logo-header__text-alt">Excellence</span></a></h1>
{#      <h2 class="main-logo-header__text-small">U.S. Department of Energy</h2>#}
    </div>

    {#Display only for mobile md display and smaller#}
    <div class="d-md-none"><a aria-label="Organizational Excellence" class="main-logo-header__text-small-mobile" href="/" rel="home" title="Home">OE</a></div>
  </div>
</div>
