<section class="main-footer">
  <div class="col-sm-12">
    {# Skip link anchor is here #}
    <a id="footer" tabindex="-1"></a>
    <div class="footer__secondary-menu">{{ content }}</div>

    <p class="footer__text">Organizational Excellence</p>
  </div>
</section>
